.navbar {
    width: 100%;
    background-color: #000;
    overflow: auto;
    flex-wrap: wrap;
  }

  .navbar {
    width: 100%;
    background-color: #000;
    overflow: auto;

  }
  
  .navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
 
  }
  .navbar div{
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 17px;
  }
  .navbar img {
    padding: 0px 12px 0px 12px;
    width: 130px;
  }

  @media screen and (max-width:860px) {
    .navbar img  {
      width: 60px;
    }
  }

  .navbar .right {
    float: right;
    display: flex;
    align-items: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #363636;
    color: #cddc39;
  }
  
  .navbar .active {
    color:#cddc39;
   
  }

  @media screen and (max-width: 550px) {
    .navbar-left{
   width: 100%;
   display: flex;
    justify-content: inherit;
    }
  }

  @media screen and (max-width: 550px) {
    .navbar-right{
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }

  @media screen and (max-width: 550px) {
    .navbar a,.navbar .right {
   font-size: 14px;
    }
  }