.flex-x {
  display: flex;
}

.flex-x-center {
  display: flex;
  justify-content: center;
}

.flex-wrap{
  display: flex;
  flex-wrap: wrap;
}

.italic{
  font-style: italic;
}
.bold{
  font-weight: bold;
}

.text-center{
  text-align: center;
}

.name {
  margin: 0.3em;
  text-align: center;
}

.m1{
  margin: 1em;
}


/*Loading */

.wrapper-loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:2em;
}

.loader{
  width: 100px;
  height: 100px;
}
